@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

$main-font: 'Work Sans', sans-serif;
$spartan-font:  'Spartan', sans-serif;
$mobile: 700px;
$main-text-color: #130F49;