.main-learn-more {
    @extend .grid;
    position: relative;
    margin-top: 50px;
    @extend .section-margin-bottom;
    display: flex;
    align-items: flex-start;

    &-link {
        margin-right: 90px;

        &:last-child {
            margin-right: 0px;
        }

        &-title {
           
            width: fit-content;
          
            margin-bottom: 25px;
            position: relative;
            display: flex;
            align-items: center;
            h4{
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #C5CFF8;
            }

            .tooltip {
                position: relative;
                margin-left: 20px;
            }
        }

        &-wrapper {
            display: flex;
            align-items: center;
            background: linear-gradient(244.32deg, rgba(197, 207, 248, 0.17) 4.72%, rgba(255, 255, 255, 0.3) 87.52%);

            width: 100%;
            height: 100%;
            border-radius: 60px;
            height: 95px;
            padding: 0px 30px 0px 30px;
            text-decoration: none;
            position: relative;
            overflow: hidden;

            &:hover {
                .main-learn-more-link-arrow {
                    transform: translate(40px);
                    opacity: 0;
                }
            }
        }

        &-img {
            width: 34px;
            height: auto;
            margin-right: 14px;

        }

        &-arrow {
            margin-left: auto;
            transition: 0.2s all;
            position: relative;
        }




        a {
            display: flex;
            box-shadow: 0px 24px 60px rgba(72, 62, 218, 0.24);
            backdrop-filter: blur(32px);
            width: 360px;
            height: 95px;
            border-radius: 60px;
            text-decoration: none;

            .text-p {
                color: #15D8F9;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}


@media only screen and (max-width: $mobile) {
    .main-learn-more {
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 0px;
        padding-bottom: 70px;


        &-link {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 40px;

            &-wrapper {
                padding: 0px 20px;

            }

            &-title {
                font-size: 20px;
                margin-bottom: 15px;
                position: relative;
               

                .tooltip {
                    position: static;
                    &-body {
                        left: 20px;
                        transform: unset;
                        width: 100%;
                        white-space:unset;
                        *{
                            font-size: 14px;
                        }
                    }
                }
            }

            a {
                width: 100%;

                .text-p {
                    font-size: 14px;
                }
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}